.kepala {
	background: #d63b40;
	padding:10px 10px 10px 10px; /* top, right, bottom, left */
	text-align: center;
	font-family: helvetica;
	color: #2c2d3f;
	
}


.container {
	font-family: verdana;
	color: #fff;
	text-align: center;
	background: #2c2d52;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	
}

.profil {
	font-family: times;
	background: #652a2f;
	color: #fff;
	width: 50%;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 10px;
		
}



